// backgrounf
$backgroundWhitesmoke: #f9f9f9;

// border
$borderRadius: 10px;

// colors
$colorWhite: #fff;
$colorGreen: #81C784;
$colorRed:#FF6F61;
$colorYellow:#FFD54F;
$colorOrange:#FFB74D;
$colorBlack:#212020;

$boxShadow:0 4px 8px rgba(0, 0, 0, 0.1);
